body {
    margin: 0;
    background-color: #F65E01;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #01207d;
    border-radius: 50%;
    color: #FFF103;
    font-size: 36pt;
    font-weight: bold;
    font-family: sans-serif;
}

#mesa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px;
}

#mesa img {
    transform: scale(0.5)
}

#acoes {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

#acoes p {
    font-size: 36pt;
    font-family: sans-serif;
}

button {
    background-color: #01207d;
    color: #FFF103;
    border: none;
    transform: scale(1.5);
    margin: 0 20px;
}

/*

Laranja: F65E01
Azul: 0071C5 

*/